@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    min-height: 100vh;
}

.header{
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)), url("../image/home.jpg"); 
    background-size: cover;
    position: relative;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 50px;
    background-color: white;

}
.btn-show{
    display: none;
}

.header .navbar ul{
    display: flex;
    list-style: none;
}
.header .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;  
    
}

.header .logo a {
    color: #333;
    text-decoration: none;
}

.navbar li{
    padding: 10px 30px;
    
}
.navbar li a{
    color: #333;;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.navbar li:hover a{
    color: #facf0f;
}

.logo:hover a{
    color: #facf0f;
}

/*--------------banner-----------------*/

.header .banner{
    position: absolute;
    
    top: 150px;
    padding-left :50px;
    color: #333;
}

.header .banner h5{
    font-size: 20px;

}

.header .banner h1{
    font-size: 40px;
    font-weight: 900;
}

.header .banner p{
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0;
}

.header .banner h2 span{
    font-weight: 700;
}

.header .banner h2{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
}

.header .banner .icon-link{
    display: flex;
    
}

.header .banner .icon-link li{
    list-style: none;
    
}

.header .banner .button-link{
    font-size: 16px;
    font-weight: 700;
    padding: 6px 12px;
    color: white;
    background-color: #333;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
    text-decoration: none;
}
.header .banner .icon-link img{
    width: 40px;
    height: 40px;
    gap: 30px;
}

/*-------------About-----------------*/

.about{
    background-color:#ededed ;
}
.about-me{
    width: 90vw;
    margin: auto;
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 1px 9px 31px -15px #000;
}

section .profile{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.about-head h1{
    font-size: 40px;
    
    letter-spacing: 1px;
    color: #333;
    font-weight: 700;
    padding-top:30px;
    margin-left: 8px;
    
}

.about-content{
    display: flex;
    text-align:start ;
    justify-content: center;
    margin: 40px 0;
    color: #555;
    line-height: 1.6;
}

.about-content p span{
    font-weight: 700;
}

/*----------------Skill-----------------*/

.skill{
    background-color:#fafafa;
}

.skill-div{
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.study-img{
    width: 600px;
    height:400px;
}
.skill-div .row{
    display: flex;
    padding-top: 70px;
    
}

.row .col-2{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    column-gap: 10px;
    justify-items: center;
    
}
.skillhead{
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 25px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}


.icon-box{
    text-align: center;
    
}
.icon-box img{
    padding: 10px;
    width: ;
    justify-items: center;
}
.col-1{
    align-self: flex-start;
}

/*----------------project---------------*/

.project{
    background-color: ##ffffff;
    min-height: 100vh;
}

.project-com{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-bottom: 50px;
    
}

.project .container{
    width: 90vw;
    min-height: 100vh;
    margin: auto;
    padding: 30px 0;
    display: grid;
    grid-template-rows: repeat(1fr 5fr 5fr 5fr 5fr);
    
}
.p-1-img img{
    height: 250px;
    width: 500px;
    border-radius: 10px;
}

.project-head{
   
    font-size: 25px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 700;

}
.project-head h1{
    padding-bottom: 30px;
}

/*------------contact--------------*/


.contact{
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)), url("../image/home.jpg");
    display: flex;  
    justify-content: center;
    align-items: center;
}
  

.form{
    width: 400px;
    min-height: 400px;
    padding: 32px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-left: 100px;
}

.form-title{
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group{
    height: 48px;
    margin-bottom: 20px;
    position: relative;
    
}

.box-group{
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    background: none;
    border:1px solid #a1a1a1 ;
    outline: none;
    padding: 16px;
    border-radius: 3px;
    z-index: 1;
    background-color: #f0f0f0;

}

.form-lable{
    position: absolute;
    left: 13px;
    top: 13px;
    color: black;
    padding: 0 6px;
    font-size: 14px;
    transition: 0.3s;
    background-color:#f0f0f0 ;
    border-radius: 20px;
    z-index: 2;
}

.form-message{
    min-height: 250px;
}


.box-group:focus+ .form-lable{
    top: -10px;
    z-index: 2;
    font-weight: 500;
}
.form-control:focus{
    border: 1px solid;
}
.box-group:not(:focus):valid+label{
    top: -10px;
    z-index: 2;
}

.form-butten button{
    display: flex;
    padding: 12px 32px;
    background-color: #facf0f;
    border-radius: 6px;
}

.contact-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    margin: auto;
    
}
.column2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 0;
    gap:30px;
}
.svg-img img{
    width: 300px;
    height: 250px;
    display: grid;
    justify-items: center;
}

.contact-icon ul li{
    list-style: none;
    display: grid;
    justify-items: center;
    padding: 10px;
   
}
.contact-detail{
    margin-left: 50px;
}
.contact-detail h1{
    font-size: 40px;
    
    letter-spacing: 1px;
    color: #333;
    font-weight: 700;
}

.contact-detail p{
    color: #555;
    line-height: 1.6;
}
.contact-icon ul li a{
    text-align: center;
    padding: 8px;
    align-content: center;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icon ul li a h3{
    text-align: center;
}


/*----------footer---------*/

.footer{
    background-color: black;
    height: 50px;
    color: #eeee;
    display: flex;
    justify-content: center;
    align-items: center;
}