@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

.header{
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)), url("../image/home.jpg"); 
    background-size: cover;
    position: relative;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 50px;
    background-color: white;

}
.btn-show{
    display: none;
}

.header .navbar ul{
    display: flex;
    list-style: none;
}
.header .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;  
    
}

.header .logo a {
    color: #333;;
    text-decoration: none;
}

.navbar li{
    padding: 10px 30px;
    
}
.navbar li a{
    color: #333;;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.navbar li:hover a{
    color: #facf0f;
}

.logo:hover a{
    color: #facf0f;
}

/*--------------banner-----------------*/

.header .banner{
    position: absolute;
    
    top: 150px;
    padding-left :50px;
    color: #333;
}

.header .banner h5{
    font-size: 20px;

}

.header .banner h1{
    font-size: 40px;
    font-weight: 900;
}

.header .banner p{
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0;
}

.header .banner h2 span{
    font-weight: 700;
}

.header .banner h2{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
}

.header .banner .icon-link{
    display: flex;
    
}

.header .banner .icon-link li{
    list-style: none;
    
}

.header .banner .button-link{
    font-size: 16px;
    font-weight: 700;
    padding: 6px 12px;
    color: white;
    background-color: #333;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
    text-decoration: none;
}
.header .banner .icon-link img{
    width: 40px;
    height: 40px;
    gap: 30px;
}

/*-------------About-----------------*/

.about{
    background-color:#fafafa ;
}
.about-me{
    width: 90vw;
    margin: auto;
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 1px 9px 31px -15px #000;
}

section .profile{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.about-head h1{
    font-size: 40px;
    
    letter-spacing: 1px;
    color: #111;
    font-weight: 700;
    padding-top:30px;
    margin-left: 8px;
    
}

.about-content{
    display: flex;
    text-align:start ;
    justify-content: center;
    margin: 40px 0;
    color: #555;;
    line-height: 1.6;
}

.about-content p span{
    font-weight: 700;
}

/*----------------Skill-----------------*/

.skill{
    background-color:#fafafa ;
}

.skill-div{
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.study-img{
    width: 600px;
    height:400px;
}
.skill-div .row{
    display: flex;
}